**CrÃ©Ã© par Gael AHOUANVOEDO (Fr Session Lead)**

**ğŸš€ Les Bases de Python ğŸ“Š ALX Udacity Data Analyst NanoDegree ğŸ“ˆ**

**08 Juillet 2022**

# **<center><span style="color:#01c9e0;">ğŸš€ LES BASES DE PYTHON ğŸš€   </span></center>**
## <center>Pour plus d'informations contctez moi sur Slack ğŸ‘</center>

# **<center><span style="color:#01c9e0;">Entrainement </span></center>**

1 - CrÃ©e une variable entiÃ¨re nommÃ©e age qui stock l'age d'un individu

In [1]:
age = 18

2 - CrÃ©e une variable dÃ©cimale nommÃ©e taille qui stock la taille d'un individu

In [2]:
taille = 170.5

3 - CrÃ©e une variable entiÃ¨re nommÃ©e nom qui stock le nom d'un individu

In [3]:
nom = 'MODOU'

4 - CrÃ©e une variable boolÃ©ene nommÃ©e dÃ©tection qui stock les rÃ©sultats d'un dÃ©tecteur de mensonge

In [4]:
detection = True

5 - CrÃ©e un ensemble de variables qui stock les informations suivantes sur un Ã©tudiant : nom, prÃ©nom, age, taille, sexe, domicile, diplomÃ©(Oui ou Non).

In [5]:
nom = 'MODOU'
prenom = 'Diop'
age = 18
taille= 170.5
domicile= 'Dakar'
Diplome= True

6 - Fais la somme de ton age et de la valeur 22 et stock le rÃ©sultat dans une nouvelle variable

In [6]:
nouvelAge = age + 22
print(nouvelAge)

40

7 - Soustrait ton age de la nouvelle variable obtenue en 6

In [7]:
nouvelAge-age

22

8 - Divise ton age par deux et stock le rÃ©sultat dans une nouvelle variable

In [8]:
demiAge = age/2
print(demiAge)

9.0

9 - Fais le produit de ton age et de la variable obtenue en 8

In [9]:
age * demiAge

162.0

10 - Ton age a la puissance 3 donne ?

In [10]:
age**3

5832

11 - VÃ©rifie si les donnÃ©es 'Marc' et 'marc' sont Ã©gaux

In [11]:
if ('Marc'== 'marc'):
  print('Marc et marc sont Ã©gaux')
else:
  print('Marc et marc ne sont pas Ã©gaux')

Marc et marc ne sont pas Ã©gaux

12 - VÃ©rifie si les donnÃ©es 14 et 14.0 sont inÃ©gaux

In [12]:
if (14!=14.0):
  print('14 et 14.0 sont inÃ©gaux')
else:
  print('14 et 14.0 ne sont pas inÃ©gaux')

14 et 14.0 ne sont pas inÃ©gaux

13 - Compare la variable obtenue en 6 Ã  celle en 8

In [13]:
if (nouvelAge>demiAge):
 print(f'{nouvelAge} est supÃ©rieur Ã  {demiAge} ')
elif(nouvelAge<demiAge):
    print(f'{nouvelAge} est infÃ©rieur Ã  {demiAge} ')
else:
    print(f'{nouvelAge} et {demiAge} sont Ã©gaux')

40 est supÃ©rieur Ã  9.0

14 - CrÃ©e une fonction qui nous donnera la possibilitÃ© de comparer deux variables

In [14]:
def comparaison (a,b):
  if (a>b):
    print(f'{a} est supÃ©rieur Ã  {b} ')
  elif(a<b):
    print(f'{a} est infÃ©rieur Ã  {b} ')
  else:
    print(f'{a} et {b} sont Ã©gaux')

comparaison(10,12)

10 est infÃ©rieur Ã  12

15 - CrÃ©e une fonction qui nous donnera le signe d'une variable

In [15]:
def signe (a):
  if (a>0):
    print(f'{a} est positif ')
  elif(a<0):
    print(f'{a} est nÃ©gatif')
  else:
    print(f'{a}est nul')

signe(-15)

-15 est nÃ©gatif

16 - CrÃ©e une liste de 10 entiers

In [16]:
liste = [45,85,20,10,6,89,4,1,9,77]

16 - CrÃ©e une fonction qui calcule la somme des 3 premiers Ã©lÃ©ments de la liste

In [17]:
def somme(liste):
    return sum(liste[0:3])

print(somme(liste))

150

17 - CrÃ©e une foction qui calcule le produit des 3 derniers Ã©lÃ©ments de la liste

In [18]:

def produit(maliste):
    resultat=1
    for i in maliste[-3:]:
      resultat = resultat * i
    return resultat  
print(produit(liste))

693

18 - CrÃ©e une fonction qui calcule la diffÃ©rence successive des Ã©lÃ©ments situÃ©s aux positions 4 Ã  8

In [19]:
def soustraction(maliste):
  resultat=liste[4] # je fixe l'element Ã  la position 4
  for i in maliste[5:9]: # Je parcours la liste de la 5Ã¨me position Ã  la huitiÃ¨me
    resultat = resultat - i
  return resultat

print(soustraction(liste))

-97

19 - Ajoute 3 autres entiers Ã  ta liste

In [20]:
liste.extend([50,80,0])
print(liste)

[45, 85, 20, 10, 6, 89, 4, 1, 9, 77, 50, 80, 0]

20 - Trie la liste dans l'ordre croissant

In [21]:
liste.sort(reverse=False)
print(liste)

[0, 1, 4, 6, 9, 10, 20, 45, 50, 77, 80, 85, 89]

21 - Trie la liste dans l'ordre dÃ©croissant

In [22]:
liste.sort(reverse=True)
print(liste)

[89, 85, 80, 77, 50, 45, 20, 10, 9, 6, 4, 1, 0]

22 - CrÃ©e une liste des pays suivants : Togo, Mali, Burkina et Congo

In [23]:
pays = ['Togo','Mali','Burkina','Congo']

23 - VÃ©rifie si le Niger est dans la liste

In [24]:
if 'Niger' in pays:
  print('Niger est dans la liste')
else:
  print('Niger n\'est pas dans la liste')

Niger n'est pas dans la liste

24 - CrÃ©e un dictionnaire de recensement homme et femme d'une population

In [25]:
population = { 'homme': 20, 'femme': 10}
print(population)

{'homme': 20, 'femme': 10}

25 - Ajoute a ce dictionaire une catÃ©grorie non dÃ©fini pour les informations manquantes

In [26]:
population[indefinis]=5
print(population)

{'homme': 20, 'femme': 10, 'indefinis': 5}

26 - Utilise une boucle for qui retournera a la fois les clefs et les valeurs

In [27]:
for clef, valeur in population.items():
  print(clef,valeur)

homme 20
femme 10
indefinis 5