**Created by Gael AHOUANVOEDO (Fr Session Lead)**

**ğŸš€ Python Basics ğŸ“Š ALX Udacity Data Analyst NanoDegree ğŸ“ˆ**

**July 08, 2022**

# **<center><span style="color:#01c9e0;">ğŸš€ PYTHON BASICS ğŸš€ </span></center>**
## <center>For more information contact me on Slack ğŸ‘</center>

# **<center><span style="color:#01c9e0;">Training </span></center>**

1 - Create an integer variable named age that stores an individual's age

In [1]:
age = 25

2 - Create a decimal variable named height which stores the height of an individual

In [2]:
height = 184.5

3 - Create a string variable named name which stores the name of an individual

In [3]:
name = 'Nissi'

4 - Create a boolean variable named detection which stores the results of a lie detector

In [4]:
detection = True

5 - Create a set of variables that stores the following information about a student: surname, first name, age, height, gender, residence, graduate (Yes or No).

In [5]:
surname = "Gael"
first_name = 'Tosin'
age = 12
height = 180.8
gender = "female"
residence = 'Nigeria'
graduate = True

6 - Sum your age and the value 22 and store the result in a new variable

In [6]:
new_age = age + 22
new_age

34

7 - Subtract your age from the new variable obtained in 6

In [7]:
sub_age = new_age - age
sub_age

22

8 - Divide your age by two and store the result in a new variable

In [8]:
div_age = age/2
div_age

6.0

9 - Calculate the product of your age and the variable obtained in 8

In [9]:
prod_age = age*div_age
prod_age

72.0

10 - Your age to the power of 3 gives?

In [10]:
print(age**3)

1728

11 - Check if data 'Mark' and 'mark' are equal

In [11]:
if ('Mark' == 'mark'):
    print ('Yes')
else:
    print ('No')

No

12 - Checks if data 14 and 14.0 are unequal

In [12]:
if (14!=14.0):
  print('14 et 14.0 are unequal')
else:
  print('14 et 14.0 are not unequal')

14 et 14.0 are not unequal

13 - Compare the variable obtained in 6 to that in 8

In [13]:
if (new_age>div_age):
    print(f'{new_age} is superior than {div_age} ')
elif(new_age<div_age):
    print(f'{new_age} is inferior than {div_age} ')
else:
    print(f'{new_age} et {div_age} are equal')

34 is superior than 6.0

14 - Create a function that will give us the possibility to compare two variables

In [14]:
def comparaison (a,b):
  if (a>b):
    print(f'{a} is superior than {b} ')
  elif(a<b):
    print(f'{a} is inferior to {b} ')
  else:
    print(f'{a} et {b} are equal')

comparaison(10,12)

10 is inferior to 12

15 - Create a function that will give us the sign of a variable

In [15]:
def sign (a):
  if (a>0):
    print(f'{a} is positive ')
  elif(a<0):
    print(f'{a} is negative ')
  else:
    print(f'{a} is null')

sign(-15)

-15 is negative

16 - Create a list of 10 integer

In [16]:
list_1 = [45,85,20,10,6,89,4,1,9,77]

In [17]:
list_1[2]

20

16 - Create a function that calculates the sum of the first 3 elements of the list

In [18]:
def list_sum(list_1):
    return sum(list_1[0:3])

print(list_sum(list_1))

150

17 - Create a function that calculates the product of the last 3 elements of the list

In [19]:
def product(list_1):
    result=1
    for i in list_1[-3:]:
      result = result * i
    return result  
print(product(list_1))

693

18 - Create a function that calculates the difference of the elements located at positions 4 to 8

In [20]:
def subf(list_1):
  result=list_1[4] # je fixe l'element Ã  la position 4
  for i in list_1[5:9]: # Je parcours la liste de la 5Ã¨me position Ã  la huitiÃ¨me
    result = result - i
  return result

print(subf(list_1))

-97

19 - Add 3 more integer to your list

In [21]:
list_1.extend([50,80,0])
list_1

[45, 85, 20, 10, 6, 89, 4, 1, 9, 77, 50, 80, 0]

20 - Sort the list in ascending order

In [22]:
list_1.sort(reverse=False)
list_1

[0, 1, 4, 6, 9, 10, 20, 45, 50, 77, 80, 85, 89]

21 - Sort the list in descending order

In [23]:
list_1.sort(reverse=True)
list_1

[89, 85, 80, 77, 50, 45, 20, 10, 9, 6, 4, 1, 0]

22 - Create a list of the following countries: Togo, Mali, Burkina and Congo

In [24]:
countries = ["Togo",'Mali','Burkina',"Congo"] 
countries

['Togo', 'Mali', 'Burkina', 'Congo']

23 - Check if Niger is in the list

In [25]:
if 'Niger' in countries:
  print('Niger is in the list')
else:
  print('Niger is not in the list')

Niger is not in the list

24 - Create a male and female census dictionary of a population

In [26]:
population = { 'male': 20, 'female': 10}
print(population)

{'male': 20, 'female': 10}

25 - Add to this dictionary an undefined category for missing information

In [27]:
population['undefined']=5
print(population)

{'male': 20, 'female': 10, 'undefined': 5}

26 - Use a for loop that will return both keys and values

In [28]:
for keys, values in population.items():
  print(keys, values)

male 20
female 10
undefined 5